.form{
    background-color: #34313114;
    width: 247px;
    margin: auto;
    margin-top: 79px;
    padding-top: 47px;
    padding-bottom: 55px;
    padding-left: 84px;
    padding-right: 50px;
    box-shadow: 0px 1px 5px, 0px 0px 18px #89868617;
    font-size: 20px;
    border-radius: 7px;
}
button{
    background-color: #efa74ef5;
    border: none;
    padding: 7px 17px;
    text-align: center;
    border-radius: 10px;
    margin-left: -6px;
    font-size:18px;
}
#pwd, #usr{
    padding: 5px;
}
h2{
    margin-top: -11px;
}
.color{
    color: red;
}