
<div class="container mt-4">
    <div class="row justify-content-center mt-5">
        <div class="col-sm-5">
            <div class="card bg-light text-dark p-5 name">
                <form [formGroup]="LoginForm">
                        <h2>Login Form</h2>
                    <div class="my-5 mb-4">
                        <label for="Username">Username : </label>
                        <input type="email" class="form-control" id="username" placeholder="Enter Email" formControlName="usr" [ngClass]="{'is-invalid' : f.usr.errors && submitted}">
                        <div *ngIf="f.usr.errors && submitted" class="invalid-feedback">
                            <div *ngIf="f.usr.errors.required">Username s required</div>
                        </div>
                    </div>
                    <div class="mb-4">
                        <label for="pwd">Password : </label>
                        <input type="password" class="form-control" id="pwd" placeholder="Enter password" formControlName="pwd" [ngClass]="{'is-invalid' : f.pwd.errors && submitted}">
                        <div *ngIf="f.pwd.errors && submitted"  class="invalid-feedback">
                            <div *ngIf="f.pwd.errors.required" >password s required</div>
                        </div>
                    </div>
                    <div class="my-5 mb-4">
                        <button (click)="onSubmit()" class="bg-primary text-white mx-0">Login</button>
                        <button (click)="onSubmit()" class="btn btn-link pt-2 mx-5">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>   
</div>
